/* CSS Document */
*, *::after, *::before {
  box-sizing: border-box;
}

body {
  background-image: url("bg2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
}

main {
  margin-top: 15em;
}


h1, h2, h3 {
  text-transform: uppercase;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #33333388;
}

a {
  text-decoration: none;
}

header ul {
  display: flex;
  list-style: none;
  padding: 5px 15px 5px 15px;
  align-items: center;
  margin: 0;
}

header li:first-of-type {
  margin-right: auto;
}

header .logo {
  width: auto;
}

header .menuButton {
  color: #FFFFFF;
  background-color: #E5003D;
  width: 1.5em;
  line-height: 1.5em;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0;
  border-style: none;
}

header .searchButton {
  color: #FFFFFF;
  font-size: 1.5em;
  font-weight: bold;
  margin-right: 1em;
  width: 1.3em;
  border-radius: 50%;
  border-style: none;
  background-color: #606060;
}

section {
  background-color: #E5003D;
}

section:first-of-type {
  background-color: transparent;
  margin-bottom: 10em;
}

section:first-of-type img {
  margin-left: calc(50% - 37%);
  width: 75%;
}

div {
  margin-left: calc(50% - 16%);
  background-color: #FFFFFF;
  color: #E5003D;
  border: solid white;
  border-radius: 50%;
  text-align: center;
  width: 33%;
}

img {
  width: 100%;
}

ul {
  padding: 0;
  list-style: none;
  text-align: center;
}

main button {
  border: solid #FFFFFF 2px;
  padding: 1em;
  background-color: transparent;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 16px;
}


/*https://courses.wesbos.com/account/access/5f5a246af8289514d0f9a726/view/195970444*/
@media all and (max-width: 300px) {
  ul {
    flex-direction: column;
  }
}

/* header .menuButton {
  position: absolute;
  right: 5%;
  top: calc(50% - 19px);
  padding: 0;
  border-style: none;
  background-color: transparent;
}

header .searchButton {
  position: absolute;
  top: calc(50% - 12.5px);
  right: 15%;
  padding: 5px;
  border-radius: 50%;
  border-style: none;
  background-color: #606060;
  margin-right: 10px;
} */
