/* CSS Document */
*, *::after, *::before {
  box-sizing: border-box;
}

body {
  background-image: url("bg2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  padding-top: 20em;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #33333388;
}

a {
  text-decoration: none;
}

p:first-of-type {
  width: 1.5em;
  line-height: 1.5em;
  text-align: center;
  font-size: 1.5em;
}

p {
  background-color: red;
  color: yellow;
}

header ul {
  display: flex;
  list-style: none;
  padding: 5px 15px 5px 15px;
  align-items: center;
  margin: 0;
}

header li:first-of-type {
  margin-right: auto;
}

header .logo {
  width: auto;
}

header .menuButton {
  padding: 0;
  border-style: none;
  background-color: transparent;
}

header .searchButton {
  margin-right: 1em;
  padding: 5px;
  border-radius: 50%;
  border-style: none;
  background-color: #606060;
}

/*https://courses.wesbos.com/account/access/5f5a246af8289514d0f9a726/view/195970444*/
@media all and (max-width: 300px) {
  ul {
    flex-direction: column;
  }
}

/* header .menuButton {
  position: absolute;
  right: 5%;
  top: calc(50% - 19px);
  padding: 0;
  border-style: none;
  background-color: transparent;
}

header .searchButton {
  position: absolute;
  top: calc(50% - 12.5px);
  right: 15%;
  padding: 5px;
  border-radius: 50%;
  border-style: none;
  background-color: #606060;
  margin-right: 10px;
} */
